# Flutter & Dart related
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/
ios/Flutter/.last_build_id

# IDEs & editors
.idea/
*.iml
*.lock
.vscode/

# System files
.DS_Store
*.log

# Platform-specific
android/.gradle/
ios/Pods/
ios/.symlinks/
windows/
linux/
macos/

# Obfuscation & Symbolication
app.*.map.json
app.*.symbols
